/* Add here all your CSS customizations */
a {
    color: #777777;
}

ul.nav-pills > li.active > a {
    background: #005b7f;
}

@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li.open > a,
    #header .header-nav-main nav > ul > li:hover > a {
        background: #005b7f;
    }
}

#footer {
    background: #ebebeb;
    border-top: 4px solid #ebebeb;
}

#footer .footer-copyright {
    background: #ebebeb;
    border-top: 4px solid #ebebeb;
}

.transparentButton {
    background-color: transparent;
    border: 1px solid #FFF;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    padding: 10px 15px;
}

.transparentButton:hover {
    background-color: white;
    color: rgb(5,79,108);
}

.mainContainer .mainTitle,
.mainContainer .mainTitle2 {
    font-weight: bold;
}

.containerForPics{
    width: 100% ;
    background-image: url("img/imagen2.png");
    position: relative;
}

.containerForPics h1{
    position: absolute;
    color: #FFF;
    bottom: 80%;
    left: 43%;
}

#law1 {
}

#law2 {
    position: absolute;
    bottom: 150px;
    left: 20%;
}

#law3 {
    position: absolute;
    bottom: 350px;
    left: 55%;
}

#law4 {
    position: absolute;
    bottom: 150px;
    left: 53%;
}

.justFixed {
    width: 100px;
    height: 100px;
    position: fixed;
}

.newsContainer {
    width: 100%;
    background-color: rgb( 168, 212, 29 ) ;
}


.headerText h4 {
    color:#FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.form-control{
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 2%;
}

.newsForm {
    width: 300px;
    height: 40px;
    position: absolute;
    left: 800px;
    background-color: transparent;
    color: #FFF;
    border: 2px solid #FFF;
    top:80px;
}

.dateContainer {
    height: 5%;
    background-color:#000;
    display: block;
}

.testingBlock{
    height: 250px;
    background-color:#000;
    display: block;
}


.dateContainer.firstContainer {
    top: 100px;
    left: 159px;
}

.dateContainer.secondContainer {
    top: -100px;
    left: 460px;
}

.dateContainer.thirdContainer {
    top: -299px;
    left: 763px;
}

.containerUnder1 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 175px;
    top: 346px;
}

.containerUnder2 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 475px;
    top: 346px;
}

.containerUnder3 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 776px;
    top: 346px;
}

.rev-slidebg {
    position: relative;
}

.testing {
    color:red;
    width: 100px;
    height: 100px;
    position: absolute;
}

.mainContainer{
    position: absolute;
    width: 487px;
    height: 157px;
    top: 25%;
    left: 50%;
}

h3.mainTitle {
    color: rgb(5,79,108);
    text-transform: uppercase;
    margin-bottom: 0;
}

h1.mainTitle2 {
  color: rgb(5,79,108);
  text-transform: uppercase;
  margin-bottom: 0;
}

.mainText {
    font-weight: bold;
    color: #FFF;
}

.justDate {
    position:relative;
    width:50px;
    height:50px;
    background-color:blue;
    color:#FFF;
    text-align:center;
    margin-top:10% ;
}

.titleUnder {
  position: absolute;
  left: 100px;
  top: 25px;
}

.textUnder {
    position: absolute;
    left: 10px;
    top: 100px;
}

.newsForAll {
    width: 100%;
    height: 700px;
}
