{{!-- Tab: Asistencia Financiera Municipal --}}
<div class="border p-4 rounded mt-2 m-md-0">
  <h2>Asistencia Financiera Municipal</h2>
  Tiene como objetivos:
  <ul>
    <li>Colaborar con las instituciones encargadas para perfeccionar la Cuenta Integrada de Gastos y Transacciones Ambientales, con el objetivo de identificar el gasto público en la prevención, mitigación o restauración de los daños al ambiente natural.</li>
    <li>Apoyar la generación de un portafolio de proyectos asociados a la protección del medio ambiente que demanden un alto grado de financiamiento.</li>
    <li>Establecer e implementar los mecanismos y procedimientos de acceso a fuentes de financiamiento “verde”, tanto nacionales como internacionales.</li>
  </ul>
</div>
<div class="border p-4 rounded mt-2">
  <h3>Descargas</h3>
  <div class="tab-pane fade show" id="list-two" role="tabpanel" aria-labelledby="list-two-list">
    <ul class="list-unstyled">
        <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/ACUERDO GUBERNATIVO 236-2006 (reglamento de descargas y reusos de aguas residuales y de la disposici¢n de lodos).pdf">
           ACUERDO GUBERNATIVO 236-2006 (reglamento de descargas y reusos de aguas residuales y de la disposici¢n de lodos).pdf
        </a></li>
         <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/REFORMAS A LEY ORGµNICA DEL PRESUPUESTO DECRETO 13-2013.pdf">
           REFORMAS A LEY ORGµNICA DEL PRESUPUESTO DECRETO 13-2013.pdf
        </a></li>
         <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/Reformas codigoMunicipal Decreto 12-2002.pdf">
           Reformas codigoMunicipal Decreto 12-2002.pdf
        </a></li>
    </ul>
  </div>
</div>

<script>
  $('#list-tab a').removeClass('active');
  $('#list-two-list').addClass('active');
</script>
