{{!-- Tab: Asistencia Financiera Municipal --}}
<h2>Asistencia Financiera Municipal</h2>
<div class="tab-pane fade show" id="list-two" role="tabpanel" aria-labelledby="list-two-list">
  <ul class="list-unstyled">
      <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/ACUERDO GUBERNATIVO 236-2006 (reglamento de descargas y reusos de aguas residuales y de la disposici¢n de lodos).pdf">
         ACUERDO GUBERNATIVO 236-2006 (reglamento de descargas y reusos de aguas residuales y de la disposici¢n de lodos).pdf
      </a></li>
       <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/REFORMAS A LEY ORGµNICA DEL PRESUPUESTO DECRETO 13-2013.pdf">
         REFORMAS A LEY ORGµNICA DEL PRESUPUESTO DECRETO 13-2013.pdf
      </a></li>
       <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/Reformas codigoMunicipal Decreto 12-2002.pdf">
         Reformas codigoMunicipal Decreto 12-2002.pdf
      </a></li>
  </ul>
</div>
<script>
  $('#list-tab a').removeClass('active');
  $('#list-two-list').addClass('active');
</script>
