{{!-- Tab: Modelos Fiscales ambientales --}}
<h2>Modelos Fiscales ambientales</h2>
<div class="tab-pane fade show" id="list-three" role="tabpanel" aria-labelledby="list-three-list">
  <ul class="list-unstyled">
    <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/AC031B~1.pdf">
       AC031B~1.pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/AC4A7E~1.pdf">
       AC4A7E~1.pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 120-2002 (Reglamento de la ley de impuesto espec¡fico sobre la distribuci¢n de bebidas gaseosas...).pdf">
       ACUERDO GUBERNATIVO 120-2002 (Reglamento de la ley de impuesto espec¡fico sobre la distribuci¢n de bebidas gaseosas...).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 133-2012 (Reglamento de la ley del impuesto espec¡fico a la primer matricula).pdf">
       ACUERDO GUBERNATIVO 133-2012 (Reglamento de la ley del impuesto espec¡fico a la primer matricula).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 134-2012 (reglamento de la ley aduanera nacional).pdf">
       ACUERDO GUBERNATIVO 134-2012 (reglamento de la ley aduanera nacional).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 205-2004 (Reglamento a la ley de impuesto sobre la distribuci¢n de bebidas alcoh¢licas destiladas, cervezas.pdf">
       ACUERDO GUBERNATIVO 205-2004 (Reglamento a la ley de impuesto sobre la distribuci¢n de bebidas alcoh¢licas destiladas, cervezas.pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 5-2013 (Reglamento ley del IVA).pdf">
       ACUERDO GUBERNATIVO 5-2013 (Reglamento ley del IVA).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DE2750~1.pdf">
       DE2750~1.pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 09-2002 (Ley del impuesto espec¡fico sobre la distribuci¢n de Bebidas Gaseosas...).pdf">
       DECRETO DEL CONGRESO 09-2002 (Ley del impuesto espec¡fico sobre la distribuci¢n de Bebidas Gaseosas...).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 10-2012 (Ley de actualizaci¢n tributaria).pdf">
       DECRETO DEL CONGRESO 10-2012 (Ley de actualizaci¢n tributaria).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 14-2013 (ley de aduanas).pdf">
       DECRETO DEL CONGRESO 14-2013 (ley de aduanas).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 20-2006 (Disposiciones legales para el fortalecimiento de la administraci¢n tributaria).pdf">
       DECRETO DEL CONGRESO 20-2006 (Disposiciones legales para el fortalecimiento de la administraci¢n tributaria).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 27-92 (IVA).pdf">
       DECRETO DEL CONGRESO 27-92 (IVA).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 38-92 (Ley del impuesto a la distribuci¢n de petr¢leo Crudo y combustibles derivados del petr¢leo).pdf">
       DECRETO DEL CONGRESO 38-92 (Ley del impuesto a la distribuci¢n de petr¢leo Crudo y combustibles derivados del petr¢leo).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 38-92 (ley del impuesto a la dsitribuci¢n de petr¢leo crudo).pdf">
       DECRETO DEL CONGRESO 38-92 (ley del impuesto a la dsitribuci¢n de petr¢leo crudo).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 6-91 (C¢digo Tributario).pdf">
       DECRETO DEL CONGRESO 6-91 (C¢digo Tributario).pdf
    </a></li>
  </ul>
</div>
<script>
  $('#list-tab a').removeClass('active');
  $('#list-three-list').addClass('active');
</script>
