{{!-- Tab: Gestión de riesgo y contingencias ambientales --}}
<h2>Gestión de riesgo y contingencias ambientales</h2>
<h5>Tiene como objetivos:</h5>
<ul>
  <li>Colaborar con las instituciones encargadas para perfeccionar la Cuenta Integrada de Gastos y Transacciones Ambientales, con el objetivo de identificar el gasto público en la prevención, mitigación o restauración de los daños al ambiente natural.</li>
  <li>Apoyar la generación de un portafolio de proyectos asociados a la protección del medio ambiente que demanden un alto grado de financiamiento.</li>
  <li>Establecer e implementar los mecanismos y procedimientos de acceso a fuentes de financiamiento “verde”, tanto nacionales como internacionales.</li>
</ul>
<div class="tab-pane fade show" id="list-four" role="tabpanel" aria-labelledby="list-four-list">
  <ul class="list-unstyled">
      <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 109-96 (ley de coordinadora nacional para la reducci¢n de desastres de origen natural o provocado).pdf">
         DECRETO DEL CONGRESO 109-96 (ley de coordinadora nacional para la reducci¢n de desastres de origen natural o provocado).pdf
      </a></li>
       <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 7-2013 (ley de cambio climatico).pdf">
         DECRETO DEL CONGRESO 7-2013 (ley de cambio climatico).pdf
      </a></li>
       <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 90-97 (C¢digo de salud).pdf">
         DECRETO DEL CONGRESO 90-97 (C¢digo de salud).pdf
      </a></li>
  </ul>
</div>
<script>
  $('#list-tab a').removeClass('active');
  $('#list-four-list').addClass('active');
</script>
