{{!-- Tab: Gestión de riesgo y contingencias ambientales --}}
<h2>Gestión de riesgo y contingencias ambientales</h2>
<div class="tab-pane fade show" id="list-four" role="tabpanel" aria-labelledby="list-four-list">
  <ul class="list-unstyled">
      <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 109-96 (ley de coordinadora nacional para la reducci¢n de desastres de origen natural o provocado).pdf">
         DECRETO DEL CONGRESO 109-96 (ley de coordinadora nacional para la reducci¢n de desastres de origen natural o provocado).pdf
      </a></li>
       <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 7-2013 (ley de cambio climatico).pdf">
         DECRETO DEL CONGRESO 7-2013 (ley de cambio climatico).pdf
      </a></li>
       <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 90-97 (C¢digo de salud).pdf">
         DECRETO DEL CONGRESO 90-97 (C¢digo de salud).pdf
      </a></li>
  </ul>
</div>
<script>
  $('#list-tab a').removeClass('active');
  $('#list-four-list').addClass('active');
</script>
