{{!-- Tab: Acceso a financiamiento verde y climático --}}
<h2>Acceso a financiamiento verde y climático</h2>
<p>Tiene como objetivos incrementar la calidad del gasto administrativo, incorporando tecnologías limpias, buenas prácticas ambientales que reduzcan costos, así como también reduzcan la contaminación ambiental, huella de carbono y mejoren la gestión de residuos sólidos y conservación de recursos hídricos. Y promover compras y adquisiciones de bienes con características de sostenibilidad ambiental y garantizar el uso de proveedores que demuestren la implementación de condiciones mínimas en materia de cumplimiento de requerimientos de conservación y protección del medio ambiente</p>
<div class="tab-pane fade show" id="list-five" role="tabpanel" aria-labelledby="list-five-list">
  <ul class="list-unstyled">
    <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//ACUERDO GUBERNATIVO 386-2001 (reglamento de regularizaci¢n de la tenencia de las tierras entregadas por el estado).pdf">
       ACUERDO GUBERNATIVO 386-2001 (reglamento de regularizaci¢n de la tenencia de las tierras entregadas por el estado).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 126-97 (ley reguladora de las  reas de reservas territoriales del estado de guatemala).pdf">
       DECRETO DEL CONGRESO 126-97 (ley reguladora de las  reas de reservas territoriales del estado de guatemala).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 24-99 (ley de fondo de tierras).pdf">
       DECRETO DEL CONGRESO 24-99 (ley de fondo de tierras).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 41-2005 (ley del registro de informaci¢n catastral).pdf">
       DECRETO DEL CONGRESO 41-2005 (ley del registro de informaci¢n catastral).pdf
    </a></li>
     <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 51-2010 (ley de incentivos forestales).pdf">
       DECRETO DEL CONGRESO 51-2010 (ley de incentivos forestales).pdf
    </a></li>
    <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso%20a%20financiamiento%20Verde%20y%20climatico/Decreto%20N%C2%A3mero%20329-2009%20Politica%20Nacional%20de%20Cambio%20Clim%C2%A0tico.pdf">
       Decreto Número 329-2009 Política Nacional de Cambio Climático
    </a></li>
  </ul>
</div>
<script>
  $('#list-tab a').removeClass('active');
  $('#list-five-list').addClass('active');
</script>
