{{!-- Tab: Estrategia Fiscal Ambiental --}}
<h2>Estrategia Fiscal Ambiental</h2>
<p></p>
<div class="tab-pane fade show" id="list-six" role="tabpanel" aria-labelledby="list-six-list">
  <ul class="list-unstyled">
      <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/EFA%202%20190918.docx">
         EFA 2 2019918
      </a></li>
  </ul>
</div>
<script>
  $('#list-tab a').removeClass('active');
  $('#list-six-list').addClass('active');
</script>
