{{!-- Tab: Calidad del gasto y compra publica --}}
<div class="border p-4 rounded mt-2 m-md-0">
  <h2>Calidad del gasto y compra publica</h2>
  <p class="text-justify">Tiene como objetivos incrementar la calidad del gasto administrativo, incorporando tecnologías limpias, buenas prácticas ambientales que reduzcan costos, así como también reduzcan la contaminación ambiental, huella de carbono y mejoren la gestión de residuos sólidos y conservación de recursos hídricos. Y promover compras y adquisiciones de bienes con características de sostenibilidad ambiental y garantizar el uso de proveedores que demuestren la implementación de condiciones mínimas en materia de cumplimiento de requerimientos de conservación y protección del medio ambiente</p>
</div>
<div class="border p-4 rounded mt-2">
  <h3>Descargas</h3>
  <div class="tab-pane fade show active" id="list-one" role="tabpanel" aria-labelledby="Calidad del gasto y compra publica">
    <ul class="list-unstyled">
        <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/6 LEY DE CONTRATACIONES DEL ESTADO DECRETO DEL CONGRESO 57-92.pdf">
           6 LEY DE CONTRATACIONES DEL ESTADO DECRETO DEL CONGRESO 57-92.pdf
        </a></li>
         <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/ACUERDO GUBERNATIVO 256-97 (Reglamento ley heneral de electricidad).pdf">
           ACUERDO GUBERNATIVO 256-97 (Reglamento ley heneral de electricidad).pdf
        </a></li>
         <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/DECRETO DEL CONGRESO 52-2003 (ley de incentivos para el desarrollo de proyectos de energ¡a renovable).pdf">
           DECRETO DEL CONGRESO 52-2003 (ley de incentivos para el desarrollo de proyectos de energ¡a renovable).pdf
        </a></li>
         <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/DECRETO DEL CONGRESO 74-96 (ley de fomento de la eduaci¢n ambiental).pdf">
           DECRETO DEL CONGRESO 74-96 (ley de fomento de la eduaci¢n ambiental).pdf
        </a></li>
         <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/DECRETO DEL CONGRESO 93-96 (ley general de electricidad).pdf">
           DECRETO DEL CONGRESO 93-96 (ley general de electricidad).pdf
        </a></li>
    </ul>
  </div>
</div>
<script>
  $('#list-tab a').removeClass('active');
  $('#list-one-list').addClass('active');
</script>
