body {
    font-family: "Raleway", Arial, sans-serif;
}

a, a:hover, a:focus {
    color: #545759;
}

section.section {
    position: relative;
    padding: 70px 0px;
    border: none !important;
}

#footer {
    background: rgb(230, 231, 232);
}

#footer,
#footer a,
#footer a:hover,
#footer a:focus {
    color: rgb(64, 64, 65);
    font-weight: 700;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* For small devices only */
@media (max-width: 479px) {
    .thumb-info {
        max-width: 55%;
        margin: 0 auto;
    }

    section.section {
        padding: 30px 0px;
    }

    #footer {
        text-align: center;
    }
}

#comoFunciona {
    background: url('/img/portal-verde.png') no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    color: #202d3e;
}

#comoFunciona img {
    width: 60%;
    max-width: 20rem;
}

#comoFunciona hr {
    border-style: solid none none none;
    border-width: 6px;
    border-radius: 3px;
    border-color: #74a30c;
    width: 33%;
    margin-left: 33%;
    margin-top: 5rem;
}

#comofunciona {
    background-color: #2d094c;
}

#comofunciona img {
    width: 25%;
}

/*RECOLOR*/
.btn-primary, .bg-primary, .list-group-item.active {
    background-color: #74a30c !important;
}

.btn-primary, .border-primary, .list-group-item.active {
    border-color: #74a30c !important;
}

.border-bold {
    border-width: 3px !important;
}
