<div class="container p-5">
  <h1>Descargas de la biblioteca ambiental</h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-one-list" data-toggle="list" href="#list-one" role="tab" aria-controls="Calidad del gasto y compra publica">Calidad del gasto y compra publica</a>
        <a class="list-group-item list-group-item-action" id="list-two-list" data-toggle="list" href="#list-two" role="tab" aria-controls="Asistencia Financiera Municipal">Asistencia Financiera Municipal</a>
        <a class="list-group-item list-group-item-action" id="list-three-list" data-toggle="list" href="#list-three" role="tab" aria-controls="Modelos Fiscales ambientales">Modelos Fiscales ambientales</a>
        <a class="list-group-item list-group-item-action" id="list-four-list" data-toggle="list" href="#list-four" role="tab" aria-controls="Gestión de riesgo y contingencias ambientales">Gestión de riesgo y contingencias ambientales</a>
        <a class="list-group-item list-group-item-action" id="list-five-list" data-toggle="list" href="#list-five" role="tab" aria-controls="Acceso a financiamiento verde y climático">Acceso a financiamiento verde y climático</a>
        <a class="list-group-item list-group-item-action" id="list-six-list" data-toggle="list" href="#list-six" role="tab" aria-controls="Estrategia Fiscal Ambiental">Estrategia Fiscal Ambiental</a>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-2">
      <div class="tab-content" id="nav-tabContent">
        {{!-- Tab: Calidad del gasto y compra publica --}}
        <div class="tab-pane fade show active" id="list-one" role="tabpanel" aria-labelledby="Calidad del gasto y compra publica">
          <ul class="list-unstyled">
              <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/6 LEY DE CONTRATACIONES DEL ESTADO DECRETO DEL CONGRESO 57-92.pdf">
                 6 LEY DE CONTRATACIONES DEL ESTADO DECRETO DEL CONGRESO 57-92.pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/ACUERDO GUBERNATIVO 256-97 (Reglamento ley heneral de electricidad).pdf">
                 ACUERDO GUBERNATIVO 256-97 (Reglamento ley heneral de electricidad).pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/DECRETO DEL CONGRESO 52-2003 (ley de incentivos para el desarrollo de proyectos de energ¡a renovable).pdf">
                 DECRETO DEL CONGRESO 52-2003 (ley de incentivos para el desarrollo de proyectos de energ¡a renovable).pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/DECRETO DEL CONGRESO 74-96 (ley de fomento de la eduaci¢n ambiental).pdf">
                 DECRETO DEL CONGRESO 74-96 (ley de fomento de la eduaci¢n ambiental).pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Calidad del Gasto y Compra Publica/DECRETO DEL CONGRESO 93-96 (ley general de electricidad).pdf">
                 DECRETO DEL CONGRESO 93-96 (ley general de electricidad).pdf
              </a></li>
          </ul>
        </div>
        {{!-- Tab: Asistencia Financiera Municipal --}}
        <div class="tab-pane fade" id="list-two" role="tabpanel" aria-labelledby="list-two-list">
          <ul class="list-unstyled">
              <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/ACUERDO GUBERNATIVO 236-2006 (reglamento de descargas y reusos de aguas residuales y de la disposici¢n de lodos).pdf">
                 ACUERDO GUBERNATIVO 236-2006 (reglamento de descargas y reusos de aguas residuales y de la disposici¢n de lodos).pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/REFORMAS A LEY ORGµNICA DEL PRESUPUESTO DECRETO 13-2013.pdf">
                 REFORMAS A LEY ORGµNICA DEL PRESUPUESTO DECRETO 13-2013.pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Asistencia Financiera Municipal/Reformas codigoMunicipal Decreto 12-2002.pdf">
                 Reformas codigoMunicipal Decreto 12-2002.pdf
              </a></li>
          </ul>
        </div>
        {{!-- Tab: Modelos Fiscales ambientales --}}
        <div class="tab-pane fade" id="list-three" role="tabpanel" aria-labelledby="list-three-list">
          <ul class="list-unstyled">
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/AC031B~1.pdf">
               AC031B~1.pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/AC4A7E~1.pdf">
               AC4A7E~1.pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 120-2002 (Reglamento de la ley de impuesto espec¡fico sobre la distribuci¢n de bebidas gaseosas...).pdf">
               ACUERDO GUBERNATIVO 120-2002 (Reglamento de la ley de impuesto espec¡fico sobre la distribuci¢n de bebidas gaseosas...).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 133-2012 (Reglamento de la ley del impuesto espec¡fico a la primer matricula).pdf">
               ACUERDO GUBERNATIVO 133-2012 (Reglamento de la ley del impuesto espec¡fico a la primer matricula).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 134-2012 (reglamento de la ley aduanera nacional).pdf">
               ACUERDO GUBERNATIVO 134-2012 (reglamento de la ley aduanera nacional).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 205-2004 (Reglamento a la ley de impuesto sobre la distribuci¢n de bebidas alcoh¢licas destiladas, cervezas.pdf">
               ACUERDO GUBERNATIVO 205-2004 (Reglamento a la ley de impuesto sobre la distribuci¢n de bebidas alcoh¢licas destiladas, cervezas.pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/ACUERDO GUBERNATIVO 5-2013 (Reglamento ley del IVA).pdf">
               ACUERDO GUBERNATIVO 5-2013 (Reglamento ley del IVA).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DE2750~1.pdf">
               DE2750~1.pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 09-2002 (Ley del impuesto espec¡fico sobre la distribuci¢n de Bebidas Gaseosas...).pdf">
               DECRETO DEL CONGRESO 09-2002 (Ley del impuesto espec¡fico sobre la distribuci¢n de Bebidas Gaseosas...).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 10-2012 (Ley de actualizaci¢n tributaria).pdf">
               DECRETO DEL CONGRESO 10-2012 (Ley de actualizaci¢n tributaria).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 14-2013 (ley de aduanas).pdf">
               DECRETO DEL CONGRESO 14-2013 (ley de aduanas).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 20-2006 (Disposiciones legales para el fortalecimiento de la administraci¢n tributaria).pdf">
               DECRETO DEL CONGRESO 20-2006 (Disposiciones legales para el fortalecimiento de la administraci¢n tributaria).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 27-92 (IVA).pdf">
               DECRETO DEL CONGRESO 27-92 (IVA).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 38-92 (Ley del impuesto a la distribuci¢n de petr¢leo Crudo y combustibles derivados del petr¢leo).pdf">
               DECRETO DEL CONGRESO 38-92 (Ley del impuesto a la distribuci¢n de petr¢leo Crudo y combustibles derivados del petr¢leo).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 38-92 (ley del impuesto a la dsitribuci¢n de petr¢leo crudo).pdf">
               DECRETO DEL CONGRESO 38-92 (ley del impuesto a la dsitribuci¢n de petr¢leo crudo).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Modelos Fiscales Ambientales/DECRETO DEL CONGRESO 6-91 (C¢digo Tributario).pdf">
               DECRETO DEL CONGRESO 6-91 (C¢digo Tributario).pdf
            </a></li>
          </ul>
        </div>
        {{!-- Tab: Gestión de riesgo y contingencias ambientales --}}
        <div class="tab-pane fade" id="list-four" role="tabpanel" aria-labelledby="list-four-list">
          <ul class="list-unstyled">
              <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 109-96 (ley de coordinadora nacional para la reducci¢n de desastres de origen natural o provocado).pdf">
                 DECRETO DEL CONGRESO 109-96 (ley de coordinadora nacional para la reducci¢n de desastres de origen natural o provocado).pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 7-2013 (ley de cambio climatico).pdf">
                 DECRETO DEL CONGRESO 7-2013 (ley de cambio climatico).pdf
              </a></li>
               <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Gestion de Riesgo y Contingencias ambientales/DECRETO DEL CONGRESO 90-97 (C¢digo de salud).pdf">
                 DECRETO DEL CONGRESO 90-97 (C¢digo de salud).pdf
              </a></li>
          </ul>
        </div>
        {{!-- Tab: Acceso a financiamiento verde y climático --}}
        <div class="tab-pane fade" id="list-five" role="tabpanel" aria-labelledby="list-five-list">
          <ul class="list-unstyled">
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//ACUERDO GUBERNATIVO 386-2001 (reglamento de regularizaci¢n de la tenencia de las tierras entregadas por el estado).pdf">
               ACUERDO GUBERNATIVO 386-2001 (reglamento de regularizaci¢n de la tenencia de las tierras entregadas por el estado).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 126-97 (ley reguladora de las  reas de reservas territoriales del estado de guatemala).pdf">
               DECRETO DEL CONGRESO 126-97 (ley reguladora de las  reas de reservas territoriales del estado de guatemala).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 24-99 (ley de fondo de tierras).pdf">
               DECRETO DEL CONGRESO 24-99 (ley de fondo de tierras).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 41-2005 (ley del registro de informaci¢n catastral).pdf">
               DECRETO DEL CONGRESO 41-2005 (ley del registro de informaci¢n catastral).pdf
            </a></li>
             <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso a financiamiento Verde y climatico//DECRETO DEL CONGRESO 51-2010 (ley de incentivos forestales).pdf">
               DECRETO DEL CONGRESO 51-2010 (ley de incentivos forestales).pdf
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/legislativo/Acceso%20a%20financiamiento%20Verde%20y%20climatico/Decreto%20N%C2%A3mero%20329-2009%20Politica%20Nacional%20de%20Cambio%20Clim%C2%A0tico.pdf">
               Decreto Número 329-2009 Política Nacional de Cambio Climático
            </a></li>
          </ul>
        </div>
        {{!-- Tab: Estrategia Fiscal Ambiental --}}
        <div class="tab-pane fade" id="list-six" role="tabpanel" aria-labelledby="list-six-list">
          <ul class="list-unstyled">
              <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/EFA%202%20190918.docx">
                 EFA 2 2019918
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
