<div class="container p-5">
  <div class="row">
    <div class="col-xs-12">
        <h2>Descargas - Recursos Ambientales</h2>
        <ul class="list-unstyled">
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/gh-page/Cuadro%20de%20Recepci%C3%B3n%20de%20propuestas%20MPMA%202018%20para%20MINNFIN.docx">
                    Cuadro de Recepci贸n de propuestas MPMA 2018 para MINNFIN.docx
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/gh-page/Cuadro de personas acreedoras de la MPMA.docx2018.pdf">
                Cuadro de personas acreedoras de la MPMA.docx2018.pdf
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/gh-page/Documento plataforma Dr Lopez.rtf">
                Documento plataforma Dr Lopez.rtf
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/gh-page/Estrategia de Fiscal Ambiental.docx">
                Estrategia de Fiscal Ambiental.docx
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/Informe%20de%20Verificaci%C3%B3n%20MINFIN-%20DAA-%20%20%2014%20noviembre%20del%202017.pdf">
                Informe de Verificaci贸n MINFIN- DAA- 14 noviembre del 2017.pdf
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/gh-page/MSPAS (2018) Boletin 1 Gasto en salud de los hogares.docx">
                MSPAS (2018) Boletin 1 Gasto en salud de los hogares.docx
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/gh-page/Manual de Implementacion de Sostenibilidad .pdf">
                Manual de Implementacion de Sostenibilidad .pdf
            </a></li>
            <li><i class="fa fa-download"></i><a href="https://github.com/RedCiudadana/Recursos-Ambiente/raw/master/Presentaci%C3%B3n%20Dr%20%20Lionel%20L%C3%B3pez%20Congreso%20CGP%2BL.pdf">
                Presentaci贸n Dr Lionel L贸pez Congreso CGP+L.pdf
            </a></li>
        </ul>
    </div>
  </div>
</div>
