<div class="container p-5">
  <h1>Descargas de la biblioteca ambiental</h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a href="#/biblioteca" class="list-group-item list-group-item-action" id="list-one-list" aria-controls="Calidad del gasto y compra publica">Calidad del gasto y compra publica</a>
        <a href="#/biblioteca/eje1" class="list-group-item list-group-item-action" id="list-two-list" aria-controls="Asistencia Financiera Municipal">Asistencia Financiera Municipal</a>
        <a href="#/biblioteca/eje2" class="list-group-item list-group-item-action" id="list-three-list" aria-controls="Modelos Fiscales ambientales">Modelos Fiscales ambientales</a>
        <a href="#/biblioteca/eje3" class="list-group-item list-group-item-action" id="list-four-list" aria-controls="Gesti칩n de riesgo y contingencias ambientales">Gesti칩n de riesgo y contingencias ambientales</a>
        <a href="#/biblioteca/eje4" class="list-group-item list-group-item-action" id="list-five-list" aria-controls="Acceso a financiamiento verde y clim치tico">Acceso a financiamiento verde y clim치tico</a>
        <a href="#/biblioteca/estrategia-ambiental" class="list-group-item list-group-item-action" id="list-six-list" aria-controls="Estrategia Fiscal Ambiental">Estrategia Fiscal Ambiental</a>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-2">
      {{outlet}}
    </div>
  </div>
</div>
