<div role="main" class="container-fluid p-0">
    <!-- Banner principal -->
    <section>
        <img src="/img/banner.png" width="100%" height="auto">
    </section>
    <!-- Sección ¿Cómo funciona? -->
    <section id="comoFunciona" class="section m-none">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-xs-12 col-md-4 col-md-offset-2">
                    {{#link-to 'biblioteca'}}
                        <h4 class="font-weight-bold">Bibloteca<br>Ambiental</h4>
                        <img src="../img/portal3.png" alt="">
                    {{/link-to}}
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="legislativo">
                        <h4 class="font-weight-bold">Documentos<br>Legales</h4>
                        <img src="/img/portal1.png" alt="">
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </section>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
            <iframe width="1200" height="630" src="https://www.youtube.com/embed/qf0-mHOMUOc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('#exampleModal').modal('show');
</script>
