<div class="container py-4">
    <div class="border p-4 rounded mt-2 m-md-0">
        <h1>Misión</h1>
        <p>Que el Ministerio de Finanzas Públicas cuente con una Estrategia Fiscal Ambiental para utilizar los instrumentos fiscales y económicos existentes, así como proponer nuevas figuras destinadas a propiciar el desarrollo social, económico y tecnológico que prevenga la contaminación del ambiente y mantenga el equilibrio ecológico, apoyando a la conservación, protección y mejoramiento del patrimonio natural de la Nación.</p>
    </div>
</div>