<style type="text/css">
  @page { margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
  p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
</style>
<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <p style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font size="2" style="font-size: 11pt"><b>Resumen
Estrategia Fiscal Ambiental y sus ejes</b></font></p>
<p style="margin-top: 0.18cm; margin-bottom: 0.35cm"><br/>
<br/>

</p>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Consciente
de las situaciones ambiental que vive el país, el Ministerio de
Finanzas Públicas de Guatemala, como la institución encargada de
cumplir y hacer cumplir con todo lo relativo al régimen jurídico
hacendario del país, incluyendo la recaudación y administración de
los ingresos fiscales, la ejecución presupuestaria, la calidad del
gasto y la ejecución de las compras del Estado, el registro y el
control de los bienes que constituyen el patrimonio estatal y la
evaluación de los riesgos fiscales asociados a contingencias, ha
decidido promover dentro del ámbito de sus competencias, la
Estrategia Fiscal Ambiental (EFA), que oriente tanto a la inversión
privada como pública y el gasto presupuestario al cumplimiento de
los objetivos nacionales e internacionales de adaptación y
mitigación al cambio climático y a la protección de los recursos
naturales. </span></font></font>
</p>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">El
despliegue de la EFA, se enfoca en cinco ejes estratégicos:</span></font></font></p>
<ol>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Calidad
  del gasto y compra pública</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Asistencia
  financiera municipal </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Modelos
  fiscales ambientales </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Gestión
  de riesgos fiscales y contingencias ambientales </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Acceso
  a financiamiento verde y climático relacionado</span></font></font></font><font color="#00000a"><font face="Times New Roman, serif">
  </font></font></font></font></font>
  </p>
</ol>
<p style="margin-top: 0.18cm; margin-bottom: 0.35cm"><br/>
<br/>

</p>
<ol>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Calidad
  del gasto y compra publica </span></font></font></font></font></font></font>
  </p>
</ol>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos incrementar la calidad del gasto administrativo,
incorporando tecnologías limpias, buenas prácticas ambientales que
reduzcan costos, así como también reduzcan la contaminación
ambiental, huella de carbono y mejoren la gestión de residuos
sólidos y conservación de recursos hídricos. Y promover compras y
adquisiciones de bienes con características de sostenibilidad
ambiental y garantizar el uso de proveedores que demuestren la
implementación de condiciones mínimas en materia de cumplimiento de
requerimientos de conservación y protección del medio ambiente</span></font></font></font></font></font></font></p>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="2">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Asistencia
  Financiera Municipal </span></font></font></font></font></font></font>
  </p>
</ol>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos facilitar la asistencia técnica, para el desarrollo
de metodologías considerando incorporar la calidad del gasto en
temas ambientales, incentivar la trasparencia fiscal municipal por
medio de las diferentes herramientas tecnológicas (SICOIN GL,
Servicios GL, SIAF Municipal, Portal de Gobierno Abierto) incentivará
la transparencia fiscal. Y orientar técnicamente a las
Municipalidades para definir la priorización de temas vinculados con
el ambiente en el marco de la formulación de sus presupuestos,
incorporando las contingencias ambientales.</span></font></font></font></font></font></font></p>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="3">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Modelos
  Fiscales Ambientales</span></font></font></font></font></font></font></p>
</ol>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos: </span></font></font>
</p>
<ul>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font color="#00000a"> <font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">desarrollar
  instrumentos financieros fiscales que promuevan la investigación
  científica aplicada, el emprendimiento verde y el reciclaje con el
  objetivo de crear nuevos productos de valor agregado y por ende
  nuevas plazas de empleo. </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Analizar
  el funcionamiento y la potencial reestructuración de los incentivos
  fiscales actualmente vigentes que podrían causar efectos negativos
  sobre el ambiente.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Evaluar
  herramientas tributarias de doble dividendo, que tengan el objetivo
  de reducir la contaminación ambiental.</span></font></font></font></font></font></font></p>
</ul>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="4">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Gestión
  de riesgos fiscales y contingencias ambientales </span></font></font></font></font></font></font>
  </p>
</ol>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos:</span></font></font></font></font></font></font></p>
<ul>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Desarrollar
  una estrategia de mitigación financiera para riesgos fiscales
  asociados a contingencias de contaminación ambiental y la gestión
  de recursos naturales.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Promover
  la realización/actualización de un inventario de recursos
  naturales en riesgo.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Implementar
  los modelos analíticos y de simulación que faciliten la
  construcción de escenarios fiscales como resultado del impacto en
  contingencias ambientales y gestión de recursos naturales.</span></font></font></font></font></font></font></p>
</ul>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="5">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%"><a name="_GoBack"></a>
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Acceso
  a financiamiento verde y climático relacionado </span></font></font></font></font></font></font>
  </p>
</ol>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos:</span></font></font></p>
<ul>
  <li/>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Colaborar
  con las instituciones encargadas para perfeccionar la Cuenta
  Integrada de Gastos y Transacciones Ambientales, con el objetivo de
  identificar el gasto público en la prevención, mitigación o
  restauración de los daños al ambiente natural.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Apoyar
  la generación de un portafolio de proyectos asociados a la
  protección del medio ambiente que demanden un alto grado de
  financiamiento.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Establecer
  e implementar los mecanismos y procedimientos de acceso a fuentes de
  financiamiento “verde”, tanto nacionales como internacionales.</span></font></font></font></font></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>

    </div>
  </div>
</div>
