<div class="container py-4">
    <div class="border p-4 rounded mt-3 ">
        <h1>Objetivo general de la EFA</h1>
        <p>Fortalecer las capacidades del Ministerio de Finanzas Públicas para utilizar los instrumentos fiscales y económicos existentes, así como proponer ejes estratégicos en aspectos ambientales de acuerdo a su ámbito de competencia.</p>
    </div>
    <div class="border p-4 rounded mt-3 ">
        <h2>Ejes estratégicos</h2>
    </div>
    <div class="border p-4 rounded mt-3 ">
        {{!-- Calidad del gasto y compra pública --}}
        <h3>Calidad del gasto y compra pública</h3>
        <h4>Objetivos</h4>
        <ul>
            <li>Incrementar la calidad del gasto administrativo, incorporando tecnologías limpias, buenas prácticas ambientales que  reduzcan costos, así como también reduzcan la contaminación ambiental, huella de carbono y mejoren la gestión de residuos sólidos y conservación de recursos hídricos.</li>
            <li>Promover compras y adquisiciones de bienes con características de sostenibilidad ambiental y garantizar el uso de proveedores que demuestren la implementación de condiciones mínimas en materia de cumplimiento de requerimientos de conservación y protección del medio ambiente.</li>
        </ul>
        <h4>Impactos</h4>
        <ul>
            <li>Reducción del gasto administrativo del Estado</li>
            <li>Eficiencia energética en edificios públicos</li>
            <li>Compra de productos sostenibles </li>
            <li>Velar por el cumplimiento de normas ambientales - lineamientos técnicos para proveedores del Estado</li>
        </ul>
    </div>
    <div class="border p-4 rounded mt-3 ">
        {{!-- Asistencia financiera municipal --}}
        <h3>Asistencia financiera municipal</h3>
        <h4>Objetivos</h4>
        <ul>
            <li>Facilitar la asistencia técnica, para el desarrollo de metodologías considerando incorporar la calidad del gasto en temas ambientales.</li>
            <li>Por medio de las diferentes herramientas tecnológicas (SICOIN GL, Servicios GL, SIAF Municipal, Portal de Gobierno Abierto) incentivará la transparencia fiscal.</li>
            <li>Orientar técnicamente a las Municipalidades para definir la priorización de temas vinculados con el ambiente en el marco de la formulación de sus presupuestos, incorporando asignaciones para protección ambiental y gestión de riesgo.</li>
        </ul>
        <h4>Impactos</h4>
        <ul>
            <li>Eficiencia  en  el  ingreso y gasto administrativo Municipal</li>
            <li>Calidad del gasto en inversiones relacionadas con medio ambiente</li>
            <li>Seguimiento en presupuesto por resultados en temas ambientales </li>
        </ul>
    </div>
    <div class="border p-4 rounded mt-3 ">
        {{!-- Modelos fiscales ambientales --}}
        <h3>Modelos fiscales ambientales</h3>
        <h4>Objetivos</h4>
        <ul>
            <li>Desarrollar instrumentos económicos que promuevan la investigación científica aplicada, el emprendimiento verde y el reciclaje con el objetivo de crear nuevos productos de valor agregado y por ende nuevas plazas de empleo.</li>
            <li>Analizar el funcionamiento y la potencial reestructuración de los incentivos actualmente vigentes que podrían causar efectos negativos sobre el </li>ambiente.
            <li>Evaluar herramientas tributarias de doble dividendo, que tengan el objetivo de reducir la contaminación ambiental e incrementar la recaudación. </li>
        </ul>
        <h4>Impactos</h4>
        <ul>
            <li>Cambio de hábitos de uso y consumo y/o practicas contaminantes</li>
            <li>Reducción de flujos de desechos sólidos</li>
            <li>Reactivación económica derivada de la utilización de residuos </li>
            <li>Emprendimiento verde e investigación aplicada</li>
        </ul>
    </div>
    <div class="border p-4 rounded mt-3 ">
        {{!-- Gestión de riesgo y contingencias ambientales --}}
        <h3>Gestión de riesgo y contingencias ambientales</h3>
        <h4>Objetivos</h4>
        <ul>
            <li>Desarrollar una estrategia financiera para la gestión de riesgos fiscales asociados a contingencias de contaminación ambiental.</li>
            <li>Fortalecer el inventario de bienes del Estado en riesgo.</li>
            <li>Implementar modelos analíticos y de simulación que faciliten la construcción de escenarios fiscales como resultado del impacto en contingencias ambientales y gestión de recursos naturales, que promuevan la progresividad de las medidas.</li>
        </ul>
        <h4>Impactos</h4>
        <ul>
            <li>Gestión financiera del Estado en casos de contingencias ambientales extremas</li>
            <li>Riesgos fiscales asociados a salud por contaminación de agua y aire</li>
            <li>Métodos analíticos y modelos de simulación del crecimiento económico, emisiones y contaminación</li>
        </ul>
    </div>
    <div class="border p-4 rounded mt-3 ">
        {{!-- Gestión de riesgo y contingencias ambientales --}}
        <h3>Gestión de riesgo y contingencias ambientales</h3>
        <h4>Objetivos</h4>
        <ul>
            <li>Desarrollar una estrategia financiera para la gestión de riesgos fiscales asociados a contingencias de contaminación ambiental.</li>
            <li>Fortalecer el inventario de bienes del Estado en riesgo.</li>
            <li>Implementar modelos analíticos y de simulación que faciliten la construcción de escenarios fiscales como resultado del impacto en contingencias ambientales y gestión de recursos naturales, que promuevan la progresividad de las medidas.</li>
        </ul>
        <h4>Impactos</h4>
        <ul>
            <li>Gestión financiera del Estado en casos de contingencias ambientales extremas</li>
            <li>Riesgos fiscales asociados a salud por contaminación de agua y aire</li>
            <li>Métodos analíticos y modelos de simulación del crecimiento económico, emisiones y contaminación</li>
        </ul>
    </div>
    <div class="border p-4 rounded mt-3 ">
        {{!-- Acceso a financiamiento verde y climático --}}
        <h3>Acceso a financiamiento verde y climático</h3>
        <h4>Objetivos</h4>
        <ul>
            <li>Colaborar con las instituciones encargadas para perfeccionar la Cuenta Integrada de Gastos y Transacciones Ambientales, con el objetivo de identificar el gasto público en: ordenación de desechos, ordenación de aguas residuales, reducción de la contaminación y protección de la diversidad biológica y paisaje.</li>
            <li>Apoyar la generación de un portafolio de proyectos asociados a la protección del medio ambiente que demanden un alto grado de financiamiento.</li>
            <li>Establecer e implementar los mecanismos y procedimientos de acceso a fuentes de financiamiento verde, tanto nacionales como internacionales.</li>
        </ul>
        <h4>Impactos</h4>
        <ul>
            <li>Actualización de Cuenta Integrada de Gastos y Transacciones Ambientales  (Cuentas Nacionales)</li>
            <li>Apoyo para la generación del portafolio de posibles proyectos ante las diferentes iniciativas de financiamiento internacional </li>
        </ul>
    </div>
</div>