<div class="container p-5" style="font-size: 18px;">
    <div class="row">
        <div class="col-xs-12">
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="center"><font face="Candara, serif"><font style="font-size: 10pt" size="2"><b>ESTRATEGIA
            DE ECONOMÍA AMBIENTAL</b></font></font></p>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Por
            qué está Involucrado el Ministerio de Finanzas Públicas?</font></font></p>
            <p style="margin-bottom: 0cm; "><br>

            </p>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">El
            Ministerio de Finanzas Públicas juega un papel importante en la
            formulación de políticas públicas para la gestión del cambio
            climático y la definición de la economía ambiental haciendo uso de
            los diferentes instrumentos económicos y fiscales que dispone, así
            como por su ámbito de competencia al poder eficiente los recursos
            del estado y  consciente de la vulnerabilidad del país ante el
            cambio climático y el acelerado deterioro de los recursos naturales,
            ha decidido actuar y buscar diferentes soluciones para reducir el
            daño ambiental. Las acciones estratégicas que se contemplan son:  </font></font>
            </p>
            <ul>
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Activar
                la economía y explotar todas las oportunidades para reducir el daño
                ambiental</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Movilizar
                inversión privada y tecnología limpia.</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Apoyar
                el cumplimiento de los Acuerdos Internacionales “NDC”
                (Contribuciones previstas y determinadas a nivel Nacional)</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Diseñar
                política de Estado que lleven al cambio de hábitos en la población
                guatemalteca.</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Mejorar
                e incrementar la calidad del gasto público.</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Fijar
                normas y procedimientos operativos relacionados con el sistema de
                contrataciones y adquisiciones del Estado para que se prioricen las
                compras de productos o servicios bajo criterios ambientales.</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Acceso
                a fuentes de financiamiento innovadoras que priorizan el tema de
                adaptación y mitigación al cambio climático. </font></font>
                </p>
            </li></ul>
            <p style="margin-left: 1.27cm; margin-bottom: 0.28cm; line-height: 108%" align="justify">
            <br>
            <br>

            </p>
            <ol>
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Qué
                es la Estrategia de Fiscal Ambiental?</font></font></p>
            </li></ol>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Es
            una iniciativa liderada por el Ministerio de Finanzas Públicas que
            busca generar amplias discusiones multisectoriales sobre posibles
            soluciones a las problemáticas derivadas de los altos niveles de
            degradación ambiental en el país, por medio de un conjunto de
            acciones balanceadas definidas por medio de ejes estratégicos,
            encaminados a impulsar cambio de conductas en la población bajo
            aspectos económicos, sociales y ambientales. </font></font>
            </p>
            <ol start="2">
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Por
                qué se está haciendo?</font></font></p>
            </li></ol>
            <p style="margin-bottom: 0.48cm; ; background: #ffffff" align="justify">
            <font face="Candara, serif"><font style="font-size: 10pt" size="2">Para
            buscar soluciones de forma integral a la problemática ambiental que
            afecta a el país y que aumenta la vulnerabilidad y el riesgo de
            todos los sectores económicos y sociales. </font></font>
            </p>
            <ol start="3">
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Qué
                instituciones apoyan la Estrategia de Fiscal Ambiental?</font></font></p>
            </li></ol>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Este
            esfuerzo liderado por el Ministerio de Finanzas Públicas, cuenta con
            el apoyo de diferentes instituciones del sector público, privado,
            academia, cooperación internacional y Organizaciones No
            Gubernamentales (ONG), que han aportado su experiencia en las
            diferentes mesas de trabajo que se han creado alrededor de los
            distintos ejes.  </font></font>
            </p>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><br>
            <br>

            </p>
            <ol start="4">
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Ejes
                temáticos de la Estrategia de Fiscal Ambiental </font></font>
                </p>
            </li></ol>

            <p></p>
            <table width="709" cellspacing="0" cellpadding="7">
                <colgroup><col width="353">
                <col width="325">
                </colgroup><tbody><tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353" height="19">
                        <p align="center"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Mitigación</font></font></p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p align="center"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Adaptación</font></font></p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Ley
                        de cambio climático y sus reglamentos</font></font></p>
                        <p><br>

                        </p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Capacidad
                        de respuesta y Fondo de emergencia</font></font></p>
                        <p><br>

                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Contrataciones
                        públicas sostenibles y mejores prácticas</font></font></p>
                        <p><br>

                        </p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p style="margin-bottom: 0cm" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Investigación
                        académica en sistemas agrícolas de adaptación</font></font></p>
                        <p><br>

                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Impositivos
                        tributarios y cambio de hábitos</font></font></p>
                        <p><br>

                        </p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p style="margin-bottom: 0cm" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Estrategia
                        de inversión pública bajo aspectos climáticos</font></font></p>
                        <p><br>

                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Incentivos
                        para emprendimientos verdes</font></font></p>
                        <p><br>

                        </p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p style="margin-bottom: 0cm" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Acceso
                        a fuentes verdes de financiamiento internacional</font></font></p>
                        <p><br>

                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Incentivos
                        para energía renovables / vehículos limpios</font></font></p>
                        <p><br>

                        </p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p style="margin-bottom: 0cm" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Etiquetado
                        del gasto público que considere aspectos del clima</font></font></p>
                        <p><br>

                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Gestión
                        integral del agua bajo aspectos de economía ambiental</font></font></p>
                        <p><br>

                        </p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p style="margin-bottom: 0cm" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Regularización
                        de bienes del Estado</font></font></p>
                        <p><br>

                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="353">
                        <p style="margin-bottom: 0cm"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Ley
                        de responsabilidad extendida empresarial</font></font></p>
                        <p><br>

                        </p>
                    </td>
                    <td style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm" width="325">
                        <p style="margin-bottom: 0cm" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Biodiversidad
                        y áreas protegidas</font></font></p>
                        <p><br>

                        </p>
                    </td>
                </tr>
            </tbody></table>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><br>
            <br>

            </p>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2"><b>Mitigación</b></font></font></p>
            <ol>
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Ley
                de cambio climático y sus reglamentos:   </font></font>
                </p>
            </li></ol>
            <font face="Candara, serif"><font style="font-size: 10pt" size="2">Que
            el Estado de Guatemala a través del Gobierno Central, entidades
            descentralizadas, entidades autónomas, las municipalidades, la
            sociedad civil organizada y la población en general adopten
            prácticas que propicien condiciones para reducir la vulnerabilidad,
            mejoren las capacidades de adaptación y permitan desarrollar
            propuestas de mitigación ante los efectos del cambio climático.</font></font><p></p>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><font face="Candara, serif"><font style="font-size: 10pt" size="2">En
            cumplimiento del mandato de la Ley de Cambio Climático y para
            operativizar las acciones contenidas en el Plan Nacional de Cambio
            Climático -PANCC-. El MINFIN ha implementado y planifica realizar
            acciones prioritarias para mejorar la capacidad de adaptación y
            reducir las emisiones de gases de efecto invernadero y apoyar en el
            cumplimiento de los objetivos y resultados plasmados en el NDC.</font></font></p>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><br>
            <br>

            </p>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><br>
            <br>

            </p>
            <ol start="2">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Contrataciones
                públicas sostenibles y mejores prácticas: En cumplimiento a las
                funciones conferidas por la ley, el Ministerio de Finanzas Públicas,
                promueve la contratación pública responsable por medio de la
                integración de aspectos sociales y ambientales dentro de los
                procesos de compra y venta, así como la contratación de bienes,
                suministros, obras y servicios. Así también, como parte de la
                eficiencia del gasto público, actualmente promueve la
                implementación de gestión ambiental y eficiencia energética en
                los edificios públicos.</font></font></p>
            </li></ol>
            <p></p>
            <p style="margin-bottom: 0cm; "><br>

            </p>
            <p style="margin-bottom: 0cm; "><br>

            </p>
            <ol start="3">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Impositivos
                tributarios y cambio de hábitos: teniendo en consideración la
                necesidad de cambiar hábitos en la población guatemalteca tanto
                desde la perspectiva del importador, productor y consumidor,
                actualmente el Ministerio de Finanzas Públicas, se encuentra
                analizando figuras viables desde el punto de vista administrativo,
                normativo, legal y técnico, que fijen un valor económico a las
                actividades, acciones y procesos que afecten el medio ambiente, ya
                sea por medio de la promoción de acciones para activar el
                crecimiento económico sostenible. </font></font>
                </p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0.28cm; line-height: 108%">

            </p>
            <ol start="4">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Incentivos
                para emprendimientos verdes: promover un entorno favorable para la
                creación y desarrollo de incubadoras e innovaciones empresariales
                verdes para favoreces la sostenibilidad económica, financiera,
                social y ambiental además de fomentar un espíritu emprendedor y
                creativo. herramientas financieras las garantías de crédito o
                financiamientos blandos, capital semilla, exenciones de ISR e IVA en
                periodos de crecimiento empresarial. </font></font>
                </p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-bottom: 0cm; " align="justify"><br>

            </p>
            <ol start="5">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Incentivos
                para energía renovables / vehículos limpios: Establecimiento de
                incentivos y otros instrumentos financieros para promover programas
                de eficiencia energética, priorizando la generación de energía
                renovable y el uso de energía limpia.</font></font></p>
            </li></ol>
            <p style="margin-bottom: 0cm; " align="justify"><br>

            </p>
            <p></p>
            <ol start="6">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Gestión
                integral del agua bajo aspectos de economía ambiental: definición
                de diseños que permitan la promoción e implementación de acciones
                que definan la valorización y modelos económicos del agua en el
                país. Así como institucionalizar políticas dirigidas al
                aprovechamiento y protección del recurso hídrico considerando la
                valoración económica, modelos de compensación, distribución
                justa y equitativa, y garantizar la sostenibilidad del
                abastecimiento de agua potable y saneamiento a través de la
                reformulación de su sistema tarifario. </font></font>
                </p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>

            <p></p>
            <p style="margin-bottom: 0cm; " align="justify"><br>

            </p>
            <ol start="7">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Ley
                de responsabilidad extendida empresarial: Promover las mejoras
                ambientales y la reducción de los impactos ambientales de sistemas
                de productos durante todos sus ciclos de vida, extendiendo las
                responsabilidades de los fabricantes del producto a varias fases del
                ciclo total de su vida útil, especialmente en la recuperación,
                reciclaje y disposición final de los productos. Para ello se
                incentiva distintos instrumentos administrativos y económicos, para
                cumplir con el principio ambiental el que contamina paga. </font></font>
                </p>
            </li></ol>
            <p style="margin-bottom: 0cm; " align="justify"><br>

            </p>
            <p></p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2"><br>
            </font></font><font face="Candara, serif"><font style="font-size: 10pt" size="2"><b>Adaptación
            </b></font></font>
            </p>
            <ol>
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Capacidad
                de respuesta y fondos de emergencia: Mejorar la capacidad de
                respuesta del Estado ante los diversos desastres naturales
                (Inundación, incendios, deslaves, terremotos …) que puedan
                convertirse en riesgos, mediante el diseño de una Estrategia
                Financiera para la Gestión de Riesgos Fiscales, que permita elevar
                sus niveles de resiliencia fiscal.</font></font></p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <ol start="2">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Investigación
                académica en sistemas agrícolas de adaptación: Fomentar y
                fortalecer los mecanismos de investigación para los temas de
                adaptación al cambio climático, así como el rescate de
                instituciones como el Instituto de Ciencia y Tecnología Agrícola
                ICTA para fortalecer investigación agrícola aplicada.</font></font></p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <ol start="3">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Estrategia
                de inversión pública bajo aspectos climáticos: Incrementar la
                inversión en infraestructura económica y social, incluyendo una
                mejora en los criterios de priorización y gestión de los
                proyectos, además de incorporar en el diseño, criterios y
                especificaciones técnicas para reducir o mitigar los impactos
                provocados por fenómenos naturales y el cambio climático sobre la
                infraestructura económica y social.</font></font></p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <ol start="4">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Acceso
                a fuentes verdes de financiamiento internacional: Generar una
                estrategia financiera con recursos de fuentes de cooperación
                internacional o nacional adicionales a los niveles de Ayuda Oficial
                al Desarrollo que ya se recibe, para hacer frente al cambio
                climático y para el cumplimiento de los NDC (Contribuciones
                previstas y determinadas a nivel Nacional) y los ODS (Objetivos de
                desarrollo sostenible). </font></font>
                </p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify"><a name="_GoBack"></a>
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">

            </p>
            <ol start="5">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Etiquetado
                del gasto público que considere aspectos del clima: desarrollo de
                información para el Análisis del flujo de gasto en cambio
                climático en el presupuesto para establecer los niveles y la
                orientación del gasto y las potencialidades para el cumplimiento de
                los NDC (Contribuciones previstas y determinadas a nivel Nacional) y
                los ODS (Objetivos de desarrollo sostenible).</font></font></p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <ol start="6">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Regularización
                de los Bienes del Estado: Dotar de certeza jurídica a los Bienes
                del Estado para considerar la implementación de posibles
                iniciativas y el cumplimiento de las metas sectoriales en función
                de los NDC (Contribuciones previstas y determinadas a nivel
                Nacional), así como la consideración de optar a mercados de
                carbono. </font></font>
                </p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0cm; " align="justify">
            <br>

            </p>
            <ol start="7">
                <li>
            <p style="margin-bottom: 0cm; " align="justify">
                <font face="Candara, serif"><font style="font-size: 10pt" size="2">Biodiversidad
                y Áreas protegidas: Apoyo a la gestión integral de la
                biodiversidad y las áreas protegidas a través del diseño e
                implementación de instrumentos económicos para la conservación y
                uso sostenible.</font></font></p>
            </li></ol>
            <p style="margin-left: 0.64cm; margin-bottom: 0cm; ">
            <br>

            </p>
            <p style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 108%">
            </p>
            <p style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 108%" align="center">
            <font style="font-size: 14pt" size="4"><u><b>Encuesta</b></u></font></p>
            <ol>
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Cómo
                calificaría la situación ambiental de Guatemala en la actualidad</font></font></p>
            </li></ol>
            <ul>
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Muy
                buena</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Buena</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Regular</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Mala</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Muy
                Mala</font></font></p>
            </li></ul>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Por
            qué?</font></font></p>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><br>
            <br>

            </p>
            <ol start="2">
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Cuál
                es el principal problema ambiental en el departamento en donde vive?</font></font></p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0.28cm; line-height: 108%">
            <font face="Candara, serif"><font style="font-size: 10pt" size="2">DEPARTAMENTO</font></font></p>
            <ul>
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Basura</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Falta
                de acceso a agua potable</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Humo
                negro</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Falta
                de áreas verdes</font></font></p>
            </li></ul>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Por
            qué?</font></font></p>
            <ol start="3">
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">¿De
                las siguientes propuestas cual está dispuesto a apoyar para
                contribuir a la mejora ambiental en Guatemala?</font></font></p>
            </li></ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0.28cm; line-height: 108%">
            <br>
            <br>

            </p>
            <ol>
                <ul>
                    <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                    <font face="Candara, serif"><font style="font-size: 10pt" size="2">Llevar
                    mi vehículo automotor a revisiones periódicas para su
                    mantenimiento y así comprobar su buen funcionamiento para evitar
                    emisiones contaminantes. </font></font>
                    </p>
                    </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                    <font face="Candara, serif"><font style="font-size: 10pt" size="2">Implementar
                    y fomentar un sistema de separación de desechos sólidos que
                    produzco en mi casa, oficina, centro de estudios y otros lugares
                    que frecuento, implementando las 3R (reducción, reutilización y
                    reciclaje).</font></font></p>
                    </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                    <font face="Candara, serif"><font style="font-size: 10pt" size="2">Pagar
                    por conservar y proteger las áreas (bosques, ríos, nacimientos de
                    agua, etc.) encargadas de producir y preservar agua para mi consumo</font></font></p>
                    </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                    <font face="Candara, serif"><font style="font-size: 10pt" size="2">Cambiar
                    la iluminación de mi casa por tecnologías amigables al medio
                    ambiente para reducir mi consumo energético, aunque esto en
                    principio represente un gasto alto.</font></font></p>
                    </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
                    <font face="Candara, serif"><font style="font-size: 10pt" size="2">Comprar
                    productos amigables al medio ambiente (bolsas de tela, envases
                    reciclados, productos de limpieza sin químicos, productos
                    biodegradables), aunque su precio puede ser igual o mayor al de
                    otros productos similares pero contaminantes.</font></font></p>
                </li></ul>
            </ol>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><br>
            <br>

            </p>
            <p style="margin-left: 2.54cm; margin-bottom: 0.28cm; line-height: 108%">
            <br>
            <br>

            </p>
            <ol start="4">
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Con
                cuál de las siguientes ideas está de acuerdo. En Guatemala: </font></font>
                </p>
            </li></ol>
            <ul>
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Se
                debería dar prioridad al crecimiento económico, aunque cause daño
                al medio ambiente</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Se
                debería dar prioridad a la protección y conservación del medio
                ambiente, sobre el crecimiento económico</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Debería
                existir un equilibrio entre crecimiento económico y la protección
                y conservación del medio ambiente</font></font></p>
                </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">No
                me interesa</font></font></p>
            </li></ul>
            <p style="margin-left: 2.54cm; margin-bottom: 0.28cm; line-height: 108%">
            <br>
            <br>

            </p>
            <p style="margin-left: 2.54cm; margin-bottom: 0.28cm; line-height: 108%">
            <br>
            <br>

            </p>
            <ol start="5">
                <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">¿Conoce
                algún proyecto o iniciativa innovadora que apoye a la
                sostenibilidad del país, que debería de darse a conocer?</font></font></p>
            </li></ol>
            <ol>
                <ul>
                    <li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">Si,
                    ¿cuál?</font></font></p>
                    </li><li>
            <p style="margin-bottom: 0.28cm; line-height: 108%"><font face="Candara, serif"><font style="font-size: 10pt" size="2">No</font></font></p>
                </li></ul>
            </ol>
            <p style="margin-left: 1.27cm; margin-bottom: 0.28cm; line-height: 108%">
            <br>
            <br>

            </p>
            <p style="margin-left: 1.27cm; margin-bottom: 0.28cm; line-height: 108%">
            <br>
            <br>

            </p>
        </div>
    </div>
</div><style type="text/css">
  @page { margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
  p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
</style>
<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <p style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font size="2" style="font-size: 11pt"><b>Resumen
Estrategia Fiscal Ambiental y sus ejes</b></font></p>
<p style="margin-top: 0.18cm; margin-bottom: 0.35cm"><br/>
<br/>

</p>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Consciente
de las situaciones ambiental que vive el país, el Ministerio de
Finanzas Públicas de Guatemala, como la institución encargada de
cumplir y hacer cumplir con todo lo relativo al régimen jurídico
hacendario del país, incluyendo la recaudación y administración de
los ingresos fiscales, la ejecución presupuestaria, la calidad del
gasto y la ejecución de las compras del Estado, el registro y el
control de los bienes que constituyen el patrimonio estatal y la
evaluación de los riesgos fiscales asociados a contingencias, ha
decidido promover dentro del ámbito de sus competencias, la
Estrategia Fiscal Ambiental (EFA), que oriente tanto a la inversión
privada como pública y el gasto presupuestario al cumplimiento de
los objetivos nacionales e internacionales de adaptación y
mitigación al cambio climático y a la protección de los recursos
naturales. </span></font></font>
</p>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">El
despliegue de la EFA, se enfoca en cinco ejes estratégicos:</span></font></font></p>
<ol>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Calidad
  del gasto y compra pública</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Asistencia
  financiera municipal </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Modelos
  fiscales ambientales </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Gestión
  de riesgos fiscales y contingencias ambientales </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Acceso
  a financiamiento verde y climático relacionado</span></font></font></font><font color="#00000a"><font face="Times New Roman, serif">
  </font></font></font></font></font>
  </p>
</ol>
<p style="margin-top: 0.18cm; margin-bottom: 0.35cm"><br/>
<br/>

</p>
<ol>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Calidad
  del gasto y compra publica </span></font></font></font></font></font></font>
  </p>
</ol>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos incrementar la calidad del gasto administrativo,
incorporando tecnologías limpias, buenas prácticas ambientales que
reduzcan costos, así como también reduzcan la contaminación
ambiental, huella de carbono y mejoren la gestión de residuos
sólidos y conservación de recursos hídricos. Y promover compras y
adquisiciones de bienes con características de sostenibilidad
ambiental y garantizar el uso de proveedores que demuestren la
implementación de condiciones mínimas en materia de cumplimiento de
requerimientos de conservación y protección del medio ambiente</span></font></font></font></font></font></font></p>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="2">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Asistencia
  Financiera Municipal </span></font></font></font></font></font></font>
  </p>
</ol>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos facilitar la asistencia técnica, para el desarrollo
de metodologías considerando incorporar la calidad del gasto en
temas ambientales, incentivar la trasparencia fiscal municipal por
medio de las diferentes herramientas tecnológicas (SICOIN GL,
Servicios GL, SIAF Municipal, Portal de Gobierno Abierto) incentivará
la transparencia fiscal. Y orientar técnicamente a las
Municipalidades para definir la priorización de temas vinculados con
el ambiente en el marco de la formulación de sus presupuestos,
incorporando las contingencias ambientales.</span></font></font></font></font></font></font></p>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="3">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Modelos
  Fiscales Ambientales</span></font></font></font></font></font></font></p>
</ol>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0.35cm"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos: </span></font></font>
</p>
<ul>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font color="#00000a"> <font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">desarrollar
  instrumentos financieros fiscales que promuevan la investigación
  científica aplicada, el emprendimiento verde y el reciclaje con el
  objetivo de crear nuevos productos de valor agregado y por ende
  nuevas plazas de empleo. </span></font></font></font></font></font></font>
  </p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Analizar
  el funcionamiento y la potencial reestructuración de los incentivos
  fiscales actualmente vigentes que podrían causar efectos negativos
  sobre el ambiente.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Evaluar
  herramientas tributarias de doble dividendo, que tengan el objetivo
  de reducir la contaminación ambiental.</span></font></font></font></font></font></font></p>
</ul>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="4">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Gestión
  de riesgos fiscales y contingencias ambientales </span></font></font></font></font></font></font>
  </p>
</ol>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos:</span></font></font></font></font></font></font></p>
<ul>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Desarrollar
  una estrategia de mitigación financiera para riesgos fiscales
  asociados a contingencias de contaminación ambiental y la gestión
  de recursos naturales.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Promover
  la realización/actualización de un inventario de recursos
  naturales en riesgo.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Implementar
  los modelos analíticos y de simulación que faciliten la
  construcción de escenarios fiscales como resultado del impacto en
  contingencias ambientales y gestión de recursos naturales.</span></font></font></font></font></font></font></p>
</ul>
<p lang="es-ES" align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>
<ol start="5">
  <li/>
<p align="justify" style="margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%"><a name="_GoBack"></a>
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Acceso
  a financiamiento verde y climático relacionado </span></font></font></font></font></font></font>
  </p>
</ol>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Tiene
como objetivos:</span></font></font></p>
<ul>
  <li/>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Colaborar
  con las instituciones encargadas para perfeccionar la Cuenta
  Integrada de Gastos y Transacciones Ambientales, con el objetivo de
  identificar el gasto público en la prevención, mitigación o
  restauración de los daños al ambiente natural.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Apoyar
  la generación de un portafolio de proyectos asociados a la
  protección del medio ambiente que demanden un alto grado de
  financiamiento.</span></font></font></font></font></font></font></p>
  <li/>
<p align="justify" style="margin-top: 0.18cm; margin-bottom: 0cm; line-height: 110%">
  <font color="#595959"><font face="Constantia, serif"><font size="2" style="font-size: 11pt"><font color="#00000a"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="es-ES">Establecer
  e implementar los mecanismos y procedimientos de acceso a fuentes de
  financiamiento “verde”, tanto nacionales como internacionales.</span></font></font></font></font></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.27cm; margin-top: 0.21cm; margin-bottom: 0.35cm; line-height: 110%">
<br/>
<br/>

</p>

    </div>
  </div>
</div>
