<div class="container py-4">
    <div class="border p-4 rounded mt-2 m-md-0">
        <h1>Visión</h1>
        <p>Ser la institución que cuenta con instrumentos fiscales y económicos con enfoque ambiental y de cambio climático para incentivar y orientar las acciones del Estado para el efectivo cumplimiento de la política económica y social del Gobierno de Guatemala.</p>
    </div>
</div>